* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #0f0f11;
  color: #fff;
  background-image: url('../media/image/bg.png');
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.wrapper {
}

/* HEADER */

.header {
  margin: 52px 71px 44px 50px;

  background: none;
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: baseline;
  min-width: 706px;
  gap: 50px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 12px;
}

.header-list__item {
  display: flex;
  align-items: center;
}

.header-button {
  display: flex;
  gap: 40px;
}

/* Размеры иконок в HEADER */

.icon_seach {
  width: 24px;
  height: 24px;
}

.icon_profile {
  width: 15px;
  height: 24px;
}

.icon_basket {
  width: 27px;
  height: 25px;
}

.icon_select {
  margin: 6px 4px;
  width: 9px;
  height: 6px;
}

.icon_fire {
  width: 18px;
  width: 18px;
}

/* MAIN BLOCK */

.main-block {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 50px;
  font-size: 21px;
  font-weight: bold;
}

.main-block__info {
  margin-top: 50px;
}

.main-block__title {
  font-weight: 600;
}

.main-block__points {
  position: relative;
  right: 2.4em;
  margin: 34px 0 32px 0;
}

.main-block__number {
  font-size: 25px;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: 4px;
}

.main-block__email {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

.main-dish__info {
  position: relative;
  background-image: url(../media/image/dish-info-bg.svg);
  background-repeat: no-repeat;
  width: 355px;
  height: 357px;
  left: 73px;
  bottom: 225px;
  padding: 37px 0 0 55px;
}

.main-dish__title {
  font-size: 25px;
  font-weight: 500;
}

.main-dish__weight {
  font-size: 13px;
  font-weight: 500;
  padding: 2px 6px;
  background-color: #bf5050;
  border-radius: 3px;
}

.main-dish__text {
  font-size: 15px;
  font-weight: 500;
  word-wrap: break-word;
  line-height: 2.1rem;
}
